@font-face {
    font-family: "LemonMilk";
    src: asset("../fonts/LEMONMILK-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-RegularItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "LemonMilk";
    src: url("../fonts/LEMONMILK-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}
